body {
	/*background-image: url("../img/1.png");*/
	background-color: #eee;
}

#content {
	background-image: url(../img/grunge_wall.png);
	min-height: 550px;	
}
.header {
	width: 100%;
	height: 50px;
	background:url(../img/mobi800.png) no-repeat;
	margin-top: 10px;
	margin-bottom: 10px;
}
@media screen and (max-width: 900px){
	.header {
		background:url(../img/mobi350.png) no-repeat;
	}
}
.footer {
	margin-top: 10px;
	position: relative;

}
.footer p {
	text-align: center;
	margin-bottom: 0;
	bottom: 0;
}
.addr {
	margin-top: 20%;
}
.addr p {
	text-align: center;
}
.pull-right {
	margin-right: 10%;
}
#tap {
	width: 100%;
	height:1px;

}
#xiaoxun {
	display: block;
	margin: 0 auto;
}

i {
	margin-right: 10px;
}